@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$c1: #0062be;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
  font-family: Poppins, sans-serif;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $c1;
  transition: 50ms;
}